
<div class="ad_header mb-2 border-bottom">

<div class="bottom_header p-3">
        <div class="container-fluid">
               <div class="row justify-content-lg-between align-items-center">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="logo">
                            <a href=""><img src="assets/img/logo.svg" alt="" width="auto" height="30px"></a>
                        </div>
                    </div>
                <div class="col-lg-6 col-md-6 p-sm-12">
                    <nav class="navbar navbar-expand-sm navbar-light ">
                        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="collapsibleNavId">
                            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                                <li class="nav-item active">
                                    <a class="nav-link" href="main.html"><span class="sr-only">(current)</span></a>
                                </li>
                                <div class="d-md-flex justify-content-md-center flex-md-wrap">
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle option_art" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{acc}}</a>
                                        <div class="dropdown-menu" aria-labelledby="dropdownId">
                                            <a class="dropdown-item" (click)="logOut()">Đăng xuất</a>
                                        </div>
                                    </li>
                                   
                                    
                                </div>
                                
                            </ul> 
                        </div>
                        </nav>
                    </div>
                   
                </div>
        </div>
</div>
 
</div>


