<div class="container_main_content">
    <div class="content_sell container-fluid mt-5">
        <div class="title_sell row justify-content-between align-items-center">
             <h2 class="text-uppercase">Art for Your Style</h2>
             <a routerLink="" class="fw-bold text-decoration-underline text-dark">BACK</a>
        </div> 
     </div>
        <div class="goods_content mt-4 mb-4 border-bottom">
                 <div class="container-fluid">
                     <div class="row justify-content-between align-items-center">
                         <div class="col-lg-2 col-md-3 col-sm-6" *ngFor="let item of listProCate"><div class="card border_card">
                             <img class="card-img-top w-100" src="{{item.image}}" [routerLink]="['/product',item.id]" alt=""  width="100%">
                             <div class="card-body">
                                 <h4 class="card-title text_card">{{item.name}}</h4>
                                 <p class="card-text m-0 size_text">{{item.category}}</p>
                                 <p class="card-text m-0 size_text">${{item.price}}</p>
                             </div>
                         </div></div>
                      
                 </div>
          </div>
 </div>
</div>