<div class="container-fluid">
    <div class="table_footer">
     <div class="item_footer">
         <div class="row justify-content-between align-items-center"></div>
        <div class="col-lg-12">
         <table class="table">
             <thead>
                 <tr class="a_th ">
                     <th><a href="">For Buyers</a></th>
                     <th><a href="">For Artists</a></th>
                     <th><a href="">About Us</a></th>
                     <th><a href="">For Artists</a></th>
                     
                 </tr>
             </thead>
             <tbody>
                 <tr class="a_th ">
                     <th class="th_font"><a href="">Paintings</a></th>
                     <th class="th_font"><a href="">Photography</a></th>
                     <th class="th_font"><a href="">Scuple</a></th>
                     <th class="th_font"><a href="">Photography</a></th>
                     
                 </tr>
                 <tr class="a_th ">
                     <th class="th_font"><a href="">Why sell?</a></th>
                     <th class="th_font"><a href="">Artist handbook</a></th>
                     <th class="th_font"><a href="">Career</a></th>
                     <th class="th_font"><a href="">Career</a></th>
                     
                 </tr>
                 <tr class="a_th ">
                     <th class="th_font"><a href="">About</a></th>
                     <th class="th_font"><a href="">Press</a></th>
                     <th class="th_font"><a href="">Career</a></th>
                     <th class="th_font"><a href="">Contact us</a></th>
                     
                 </tr>
                 <tr class="a_th ">
                     <th class="th_font"><a href="">Art prints</a></th>
                     <th class="th_font"><a href="">Catalog</a></th>
                     <th class="th_font"><a href="">Scuple</a></th>
                     <th class="th_font"><a href="">Gift card</a></th>
                    
                 </tr>
                 <tr class="a_th">
                     <th class="th_font"><a href="">Paintings</a></th>
                     <th class="th_font"><a href="">Photography</a></th>
                     <th class="th_font"><a href="">Blog</a></th>
                     <th class="th_font"><a href="">Saatchi Art Story</a></th>
                     
                 </tr>
             </tbody>
        
            </table>
        </div>
        
 </div>
     </div>
        <div class="icon_social">
         <div class="row justify-content-lg-around align-items-lg-center">
             <div class="col-lg-4 col-md-12">
                 <div class="row justify-content-center align-items-center">
                     <img src="assets/img/logo.svg" alt="" width="200px">
                     <a name="" id="" class="btn w-25" href="#" role="button"><img src="assets/img/vietnam.jpg" alt="" class="w-75"></a>
             </div>
                 </div>
            <div class="icon_search col-lg-4 col-md-12">
                 <div class="row justify-content-center align-items-center">
                     <div class="fb p-3 text-dark">
                         <a href=""><i class="fa-brands fa-facebook"></i></a>
                     </div>
                     <div class="insta p-3 text-dark">
                         <a href=""><i class="fa-brands fa-instagram"></i></a>
                     </div>
                     <div class="youtube p-3 text-dark">
                         <a href=""><i class="fa-brands fa-youtube"></i></a>
                     </div>
                     <div class="tiktok p-3 text-dark">
                         <a href=""><i class="fa-brands fa-tiktok"></i></a>
                     </div>
                 </div>
            </div>
            <div class="col-lg-4 d-sm-flex justify-content-lg-center d-md-flex justify-content-md-center">
                 <a href=""><img src="assets/img/down.jpg" alt="" width="200px"></a>
            </div>
         </div>
        </div>
     </div>
